.box {
    margin: 50px;
    width: 200px;
    height: 200px;
    background: red;
}

.box.small {
    scale: .5;
}

.box.moved {
    translate: 50px;
}

.box:hover {
    animation: rotate 500ms infinite alternate;
}

@keyframes rotate {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 45deg;
    }
}